.user-rating-form-container {
  margin: auto;
  width: 200px;
  position: relative;
  /* border: 1px solid grey; */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.du-contents > * {
  width: 60%;
  margin: 10px auto;
}
.user-rating-form {
  display: inline;
}
.review-form-container {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.review-collection-container {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.user-listing-container {
  justify-content: center;
  padding: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
