.user-rating-form-container {
  border: 1px solid #d3d3d3;
  border-radius: 2px;
}

.du-contents-top {
  width: 80%;
  height: 350px;
  margin: auto;
  border: 1px solid black;
  display: flex;
}
.du-contents-top-left {
  position: relative;
  padding: 15px;
  box-sizing: border-box;
}

#user-avatar {
  border-radius: 3px;
  height: 200px;
  width: 200px;
}

.user-rating-form {
  display: block;
}
.review-form-container {
  width: 800px;
}

.review-collection-container {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.user-listing-container {
  justify-content: center;
  padding: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

/* rating form styling */

.rating {
  border: none;
  float: left;
}

.rating > input {
  display: none;
}
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-weight: 900;
  display: inline-block;
  content: "\2605";
}

.rating-submit {
  margin: 5px;
  display: inline-block;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 900;
  color: rgb(247, 160, 54);
  cursor: pointer;
}

.rating-submit:hover {
  color: rgb(239, 104, 14);
}

.rating > label {
  color: #ddd;
  float: right;
}

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label {
  color: #ffd700;
} /* hover previous stars in list */

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: #ffed85;
}
