.listing-show-container {
  /* padding: 15px; */
  width: 90%;
  height: 90%;
  margin: 30px auto;
  padding: 10px 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.listing-show-img img {
  border-radius: 50%;
  height: 60px;
}
.listing-show-middle {
  display: flex;
}

.listing-show-left {
  width: 35%;
}

.listing-show-right {
  width: 65%;
}

.listing-show-middle div {
  padding: 15px;
}

.listing-show-bottom {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.listing-show-time {
  font-weight: 600;
}

.listing-book-button-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.listing-book-button {
  background: rgb(242, 142, 162);
  color: white;
  height: 80%;
  width: 80px;
  font-family: Montserrat;
  cursor: pointer;
  font-weight: 800;
  font-size: 22px;
  border: 3px solid rgb(242, 142, 162);
}

.listing-book-button:hover {
  background: white;
  color: rgb(242, 142, 162);
}
