.listing-item-outer-container {
  /* background: pink; */
  height: 350px;
  width: 350px;

  overflow: hidden;
  margin: 0;
  border-radius: 3px;
  margin-bottom: 40px;
  margin-right: 20px;
  box-shadow: 0 2px 8px 0 #efefef;
  /* background-color: pink; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}

.listing-item-inner-container {
  padding: 15px;
  width: 100%;
}
.listing-item-inner-container:hover {
  border: 7px solid #efefef;
  box-shadow: 0 2px 30px 0 #efefef;
}

.listing-item-header {
  height: 55px;
  margin-bottom: 10px;
  /* padding: 10px; */
  font-size: 25px;
  font-weight: 600;
  color: #484848;
}

.listing-item-middle-layer {
  height: 80px;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
}

.listing-item-lower-layer {
  height: 90px;
  overflow: auto;
  font-size: 16px;
  padding: 5px;
  color: #484848;
  border-top: 1px solid #efefef;
  margin-bottom: 15px;
  /* scrollbar-width: 1px; */
}
/* .listing-item-lower-layer::scrollbar {
  width: 1em;
} */
.listing-item-lower-layer::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: white;
}

.listing-item-lower-layer::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.listing-item-lower-layer::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #efefef;
}

/* ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
} */
.listing-item-middle-left {
  margin-left: 0;
  font-weight: 600;
  width: 55px;
  height: 55px;
  background-color: pink;
}

.listing-item-middle-right {
  padding-left: 20px;
  font-size: 12.5px;
  margin-right: 0px;
  color: #484848;
}
.listing-item-username {
  text-decoration: none;
  font-size: 18px;
  color: #484848;
  cursor: pointer;
}
span {
  display: block;
}
.listing-item-button {
  height: 45px;
}

.btn {
  border: 2px solid #ff5661;
  background-color: white;
  color: #ff5661;
  font-size: 12px;
  cursor: pointer;
  float: right;
}

/* .listing-item-tags {
  display: flex;
  flex-direction: row;
} */

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: "";
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: #ff5661;
  color: white;
}

.tag:hover::after {
  border-left-color: #ff5661;
}

/* a{
    color:#47649F;
}

body{
    font-family:'helvetica';    
}

.the-box {
  width: 1030px;
  height: 274px;
  border-radius: 3px;
  box-shadow: 0 2px 8px 0 #efefef;
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
}

.title{
  width: 944px;
  height: 70px;
  font-family: Poppins;
  font-size: 27px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #484848;
}

.photo-profile{
    border:1px solid #DDD;    
}

.listing-username h4{
  width: 128px;
  height: 28px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #484848;  
}

.listing-time{
    color:#ADB2BB;
    font-size: 18px;
}

.post-body {
  width: 915px;
  height: 57px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #484848;
} */
/* 
.listing-index-container {
  width: 1030px;
  height: 274px;
  border-radius: 3px;
  box-shadow: 0 2px 8px 0 #efefef;
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
}
 */
