html, body, header, nav, h1,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
}

ul {
  list-style: none;
}

/* img {
  display: block;
  /* // width: 100%; */
  /* height: auto; */
/*  */

/* input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
} */

/* button,
input[type="submit"] {
  cursor: pointer;
} */

.splash {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  background-size: cover;
  width: 100%;
  /* height: 100vh; */
  max-height: 630px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash-box {
 /* position: absolute; */
  background-image: linear-gradient(
                     rgba(20, 20, 20, 0.3), 
                     rgba(20,20,20, .3)), url("work2.jpg");
  background-size: contain;
  /* height: auto; */
  /* background-color: #fd5c63; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  /* position: relative; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* opacity: 0.5; */
}

.splash-box > h1 {
  /* justify-self: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  font-weight: 600;
  color: black;
  text-align: center;
  margin-top: 37.520px;
  margin-bottom: 5px;
  // text-shadow: 2px 2px darkgrey; */
  color: white;
  /* mix-blend-mode: difference; */
  width: 678px;
  height: 60px;
  font-family: SourceSansPro;
  font-size: 48px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  /* color: #ffffff; */
}

.splash-box > h3 {
  width: 520px;
  height: 56px;
  opacity: 0.9;
  font-family: SourceSansPro;
  font-size: 21px;
  font-weight: 150;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: white;
}

.explore {
  background: #ff5661;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  padding: 16px 55.5px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  color: white;
}

.explore:hover {
  transition: 0.2s;
  background:  white;
  color: #ff5661;
}

.description {
    position: absolute;
    /* position: fixed; */
    /* bottom: 0; */
    top: 1600px;
    overflow: auto;
}